{% extends "template.html" %}
{% block content %}
<style>
    h2{font-family: monospace; font-size: 50px;}
</style>
    <div class="jumbo">
        <h2>QUEUE</h2>
        <br/>
        <!-- Table for Queue-->
        <table style="width:200px">
          <tr>
            <th>Name</th>
            <th>Position in line</th> 
            
          </tr>
          {% for client in queue %}    
          <tr>
            <td>{{client.client_name}}</td>
            <td>{{client.line_location}}</td>
          </tr>
        {% endfor %}
        </table>

        <br/>
            <p>click <a href="/check-in">here</a> to go to the check-in page</p>
        <br/>
            <p>click <a href="/search">here</a> to go to the search user page</p>
    </div>


{% endblock %}