{% extends "template.html" %}
{% block content %}
<style>
    h2{font-family: monospace; font-size: 50px;}
</style>
    <div class="jumbo">
        <h2>Search</h2>
            <br/>
        <h4>Enter Credentials below</h4>
            <div>
        
                <!-- Where all of the search information would go-->
                {% for client in clients %} 
                <p>Name: {{ client.client_name }}  Haircut preference: {{ client.haircut_pref }}</p>

                {% endfor %}
            </div>
        <br/>
        <p>click <a href="/">here</a> to go to the home page</p>
    </div>
{% endblock %}