{% extends "template.html" %}
{% block content %}
    <div class="jumbo">
    <h2>Search Client</h2>
        <form class="form-horizontal">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="Name"></label>  
                  <div class="col-md-4">
                  <input id="Name" name="Name" type="text" placeholder="i.e. jane Doe" class="form-control input-md">
                      <br/>
                  <span class="help-block">Enter client name and hit enter to search</span>  
                  </div>
                </div>

            </fieldset>
            </form>
                <h4>Results</h4>
                <!-- Where all of the search information would go-->
                {% for client in clients %} 
                <p>Name: {{ client.client_first_name }}, {{ client.client_last_name }} <br/>Phone number: {{ client.phone_number }}  <br/>Postal Code: {{ client.postal_code }} <br/>Email: {{ client.email }}</p>

                {% endfor %}

        <br/>
        </div>
{% endblock %}